# Database
DATABASE_URL="postgresql://user:password@localhost:5432/gemstore"

# NextAuth
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3001"

# App
APP_URL="http://localhost:3001"

# NowPayments
NOWPAYMENTS_API_KEY="your-api-key"
NOWPAYMENTS_IPN_SECRET="your-ipn-secret"
NOWPAYMENTS_API_BASE="https://api.nowpayments.io/v1"
NOWPAYMENTS_SANDBOX="false"

# M-Pesa (Safaricom Daraja)
MPESA_CONSUMER_KEY=""
MPESA_CONSUMER_SECRET=""
MPESA_SHORTCODE="174379"
MPESA_PASSKEY=""
MPESA_ENV="sandbox"
MPESA_BASE_URL_SANDBOX="https://sandbox.safaricom.co.ke"
MPESA_BASE_URL_PRODUCTION="https://api.safaricom.co.ke"
